body {
  background-color: #dce5dc;
}

.navbar {
  background-color: #18212A !important;
}

.nav-container {
  font-family: minion-3-display, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
}

.nav-item a {
  padding: 0 4%;
  color: #aaaaaa !important;
}

.active a {
  color: #eeeeee !important;
}

.nav-item:hover a {
  color: #eeeeee !important;
}

.navbar-brand {
  font-family: cinque-donne, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
  color: #aaaaaa !important;
  margin-right: 25px;
  margin-left: 15px;
  margin-top: 4px;
}

.photo-container {
  width: 700px;
  margin: 10px;
}

.home-page {
  margin: 20px, auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.limited-item {
  margin: 10px;
  width: 400px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.limited-item h3 {
  font-family: cinque-donne, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
}

.limited-item img {
  border-radius: 25px;
}

.description {
  text-align: center;
  font-style: italic;
  margin-top: 20px;
}

.menu-container {
  display: flex;
  justify-content: center;
}

.menu-grid {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  flex-wrap: wrap;
}

.menu-grid p {
  font-style: italic;
}

.menu-pic {
  margin: 10px;
  width: 275px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.menu-pic img {
  width: 100%;
  height: auto;
}

.pic-container {
  display: flex;
  justify-content: flex-start;
}

.pic-grid {
  margin-top: 50px;
}

.chef-item {
  margin-top: 40px;
}

.about-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  padding-top: 10px;
  background-color: #E5ECE5;
  border: 1px solid #D8E2D8;
  border-radius: 7px;
  width: 45%;
}

.about-cafe p {
  font-size: 20px;
  margin-top: 20px;
  font-family: macho, sans-serif;
  font-weight: 400;
}

.about-cafe h3 {
  text-align: center;
  font-family: cinque-donne, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 45px;
  margin: 10px;
}

.about-cafe {
  padding-left: 30px;
  padding-right: 30px;
}

.about-page {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
}

.review-page {
  display: flex;
  justify-content: center;
}

.judge-grid {
  margin-top: 7%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.judge {
  font-family: macho, sans-serif;
  font-weight: 400;
  background-color: #E5ECE5;
  padding: 13px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #D8E2D8;
  width: 30%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.judge-pic p {
  text-align: center;
  font-style: italic;
  font-size: 10px;
}

.judge-pic img {
  border-radius: 2px;
  border: 1px solid #909090;
}

.github-footer-fixed {
  user-select: none;
  width: 40px;
  height: 40px;
  position: fixed;
  right: 2vh;
  bottom: 2vh;
}

@media only screen and (max-width: 799px) {
  .photo-container {
    width: 90vw;
  }

  .judge-grid {
    width: 100%;
  }

  .limited-item {
    width: 70vw;
  }

  img {
    width: 100%;
    height: auto;
  }
}

/* tablet */
@media only screen and (max-width: 960px) {
  .menu-grid {
    align-items: center;
  }

  .judge-grid {
    flex-flow: column;
  }

  .judge {
    width: 70%
  }

  .about-page {
    flex-flow: column;
  }

  .about-container {
    width: 80%;
    order: -1;
  }

  .pic-grid {
    margin-bottom: 50px;
  }
}

/* wide tablet */
@media only screen and (max-width: 1175px) {
  .menu-grid {
    align-content: stretch;
  }

  .home-page {
    flex-flow: column;
  }

  .limited-item {
    margin-top: 40px;
  }
}

@media only screen and (min-width: 1176px) {
  .menu-pic {
    width: 400px;
  }
}