body {
  background-color: #F0F8FF;
}

.nav-link {
  color: #000000 !important;
}

.navbar {
  background-color: #B0C4DE !important;
}

.nav-container {
  /*display: flex; */
  /*  justify-content: flex-start; */
  /* border: 1px solid #000000; */
  font-family: minion-3-display, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
}

.nav-item {
  padding-left: 10%;
}

.Photo-Container {
  width: 700px;
  margin: 10px;
}

.Home-Page {
  margin: 20px, auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.limited-item {
  font-family: inter, sans-serif;
  margin: 10px;
  width: 400px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-style: italic;
}

.limited-item h3 {
  font-weight: 700;
}

.description {
  margin-top: 20px;
}

.footer-container {
  position: fixed;
  bottom: 0;
}

.footer-container {
  display: flex;
  justify-content: center;
  border: 1px solid #000000;
  font-size: 12px;
  box-sizing: border-box;
  width: 15%;
  text-align: left;
  font: bold 12px sans-serif;
  padding: 5px 5px 5px 5px;
  margin-top: 5px;
}

.footer {
  margin-top: 5px;
}

.footer-holder {
  display: flex;
  justify-content: flex-end;
}

@media (max-height:800px) {
  footer {
    position: static;
  }
}

.Menu-Container {
  display: flex;
  justify-content: center;
}

.Menu-Grid {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  flex-wrap: wrap;
}

.Menu-Grid p {
  font-style: italic;
}

.pic-container {
  display: flex;
  justify-content: flex-start;
}

.pic-grid {
  margin-top: 50px;
}

.chef-item {
  margin-top: 40px;
}

.About-Container {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  padding-top: 10px;
  background-color: #FAEBD7;
  border-radius: 7px;
  width: 45%;
}

.About-Cafe p {
  font-family: inter, sans-serif;
  font-style: italic;
  font-size: 20px;
  margin-top: 20px;
}

.About-Cafe {
  padding-left: 30px;
  padding-right: 30px;
}

.About-Page {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
}

.About-Cafe h3 {
  text-align: center;
}

.Review-Page {
  display: flex;
  justify-content: center;
}

.Judge-Grid {
  margin-top: 7%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: inter, sans-serif;
  font-size: 15px;
}

.judge-pic p {
  text-align: left;
  font-style: italic;
  font-size: 10px;
}

.judge {
  background-color: #FAEBD7;
  padding: 13px;
  margin: 10px;
  border-radius: 5px;
  width: 30%;
  height: 100%
}

.github-footer-fixed {
  user-select: none;
  width: 40px;
  height: 40px;
  position: fixed;
  right: 2vh;
  bottom: 2vh;
}

@media only screen and (max-width: 799px) {
  .Photo-Container {
    width: 90vw;
  }

  .limited-item {
    width: 70vw;
  }

  img {
    width: 100%;
    height: auto;
  }
}

/* tablet */
@media only screen and (max-width: 960px) {
  .Menu-Grid {
    align-items: center;
  }

  .Judge-Grid {
    flex-flow: column;
  }

  .judge {
    width: 70%
  }

  .About-Page {
    flex-flow: column;
  }

  .About-Container {
    width: 80%;
  }

  .About-Container {
    order: -1;
  }

  .pic-grid {
    margin-bottom: 50px;
  }
}

/* wide tablet */
@media only screen and (max-width: 1175px) {
  .Menu-Grid {
    align-content: stretch;
  }

  .Home-Page {
    flex-flow: column;
  }

  .limited-item {
    margin-top: 40px;
  }
}